  <div class="row" style="margin-top:30px;">
    

    <div class="col s12 m6 xl6 l6">
      <div id="messagesone">

</div>
<div class="" style="border:1px solid violet">
<center>
<h6 id="msgval">

</h6>
</center>
</div>
      <div class="card">
        <div class="card-content black-text">
          <span class="card-title">Chat one</span>
          <input type="text" id="user1">
        </div>
        <div class="card-action">
          <button class="btn" id="sub1">send</button>
        </div>
      </div>



    </div>
            

    <div class="col l6 xl6 s12 m6">
               <div id="twomsg" class="center" >

</div>
<div class="" style="border:1px solid green">
<center><h6 id="msgval2">

</h6>
</center>
</div>
      <div class="card">
        <div class="card-content black-text">
          <span class="card-title">Chat Two</span>
          <input type="text" id="user2">
        </div>
        <div class="card-action">
          <button class="btn" id="sub2">send</button>
        </div>
      </div>


    </div>
 
            </div>